body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E49AB0;
}

.time-stamp {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    color: #904C77;
    font-size: 90px;
}
